@media (max-width: 575px) {
    .navbar-nav {
    flex-direction: row;
    }

    .navbar-nav li { padding-left: 12px;}
    img {height: 200px !important;}
    textarea {width: 100% !important;}
    .post-tools {
        position: relative !important;
        top: -25px !important;
    }
}
@media (min-width: 576px) {
    .content {
        max-width: 540px;
    }
    .navbar {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start
    }

    .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}

@media (min-width: 768px) {
    .content {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .content {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .content {
        max-width: 1140px;
    }
}
